:root{
    --Background: #cbdcde;/*Fondo*/
    --PrimaryFont:#243746;/*Letra*/
    --SecondaryFont:#89b0b5;/*Segunda opcion para letra*/
    --Button:#b0b0b2;/*Botones*/
    --ButtonHover:#f0f5f5;/*color al poner el mouse sobre el boton*/
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Lato', sans-serif; /*Parrafos, textos de descripcion, etc*/
    background-color: var(--Background);
}

h1 {
    font-family: 'Bodoni Moda', sans-serif;/*Titutlos*/
}

h2 {
    font-family: 'Bodoni Moda', sans-serif;/*Sub titulos*/
}

h3 {
    font-family: 'Bodoni Moda', sans-serif;/*sub sub titulos*/
}